/*inicio de sesion*/
.INICIO-DE-SESION {
  background-color: #ffffff;
  width: 100%;
  min-width: 390px;
  min-height: 844px;
  position: relative;
}

.INICIO-DE-SESION .rectangle {
  position: absolute;
  top: 683px;
  left: 166px;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  border: 1px solid;
  border-color: var(--grisoscuro-2);
}

.INICIO-DE-SESION .div {
  position: absolute;
  top: 304px;
  left: 25px;
  width: 340px;
  height: 297px;
  background-color:#F6F7F9;
  border-radius: 15px;
}

.INICIO-DE-SESION .text-wrapper {
  position: absolute;
  top: 426px;
  left: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.INICIO-DE-SESION .text-wrapper-2 {
  position: absolute;
  top: 426px;
  left: 168px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color:var(--azuloscuro-3);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.INICIO-DE-SESION .rectangle-2 {
  position: absolute;
  top: 360px;
  left: 35px;
  width: 321px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid;
  border-color:#3D76C1;
}

.INICIO-DE-SESION .rectangle-3 {
  position: absolute;
  top: 454px;
  left: 35px;
  width: 321px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid;
  border-color:#3D76C1;
}

.INICIO-DE-SESION .tabler-eye {
  position: absolute;
  top: 467px;
  left: 317px;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.INICIO-DE-SESION .group {
  position: relative;
  width: 75.00%;
  height: 50.00%;
  top: 25.00%;
  left: 12.50%;
}

.INICIO-DE-SESION .icons {
  position: absolute;
  width: 190%;
  height: 195%;
  top: -50%;
  left: -30%;
}

.INICIO-DE-SESION .icons2 {
  position: absolute;
  width: 150%;
  height: 155%;
  top: -25%;
  left: -20%;
}

.INICIO-DE-SESION .icons3 {
  position: absolute;
  width: 170%;
  height: 175%;
  top: -40%;
  left: -35%;
}

.INICIO-DE-SESION .img {
  position: absolute;
  width: 105.56%;
  height: 108.33%;
  top: -8.33%;
  left: -5.56%;
}

.INICIO-DE-SESION .tabler-lock {
  position: absolute;
  top: 467px;
  left: 48px;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.INICIO-DE-SESION .group-2 {
  position: relative;
  width: 58.33%;
  height: 75.00%;
  top: 12.50%;
  left: 20.83%;
}

.INICIO-DE-SESION .tabler-mail-check {
  position: absolute;
  top: 373px;
  left: 48px;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.INICIO-DE-SESION .group-3 {
  position: relative;
  width: 75.00%;
  height: 66.67%;
  top: 20.83%;
  left: 12.50%;
}

.INICIO-DE-SESION .text-wrapper-3 {
  position: absolute;
  top: 375px;
  left: 89px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color:#B9B9B9;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.INICIO-DE-SESION .text-wrapper-4 {
  position: absolute;
  top: 470px;
  left: 89px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color:#B9B9B9;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.INICIO-DE-SESION .no-tienes-cuenta-reg {
  position: absolute;
  top: 624px;
  left: 93px;
  height: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.INICIO-DE-SESION .span {
  color: #000000;
}

.INICIO-DE-SESION .text-wrapper-5 {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--azuloscuro-3);
}

.INICIO-DE-SESION .tabler-fingerprint {
  position: absolute;
  top: 690px;
  left: 172px;
  width: 47px;
  height: 47px;
  aspect-ratio: 1;
}

.INICIO-DE-SESION .group-4 {
  position: relative;
  width: 70.05%;
  height: 75.09%;
  top: 12.41%;
  left: 16.62%;
}

.INICIO-DE-SESION .vector-7 {
  position: absolute;
  width: 103.04%;
  height: 102.83%;
  top: -2.83%;
  left: -3.04%;
}

.INICIO-DE-SESION .text-wrapper-6 {
  position: absolute;
  top: 657px;
  left: 138px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.INICIO-DE-SESION .rectangle-4 {
  position: absolute;
  top: 780px;
  left: 0;
  width: 390px;
  height: 64px;
  background-color: #EEF0F2;
}

.INICIO-DE-SESION .element-SIGEPAC-gesti-n {
  position: absolute;
  top: 788px;
  left: calc(50.00% - 128px);
  height: 50px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #727272;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25px;
}

.INICIO-DE-SESION .rectangle-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 390px;
  height: 248px;
}

.INICIO-DE-SESION .text-wrapper-7 {
  position: absolute;
  top: 277px;
  left: 25px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.INICIO-DE-SESION .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 390px;
  height: 248px;
  aspect-ratio: 1.57;
  opacity: 0.5;
}

.INICIO-DE-SESION .text-wrapper-8 {
  position: absolute;
  top: 105px;
  left: 51px;
  width: 286px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #1e3a8a;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25px;
}

.INICIO-DE-SESION .p {
  position: absolute;
  top: 199px;
  left: 43px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #00000080;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.INICIO-DE-SESION .text-wrapper-9 {
  position: absolute;
  top: 334px;
  left: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.INICIO-DE-SESION .rectangle-6 {
  position: absolute;
  top: 525px;
  left: 77px;
  width: 223px;
  height: 58px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(74, 144, 226, 1) 0%,
    rgba(41, 79, 124, 1) 100%
  );
}

.INICIO-DE-SESION .text-wrapper-10 {
  position: absolute;
  top: 542px;
  left: 134px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

/*Inicio de sesion exitoso*/
.INICIO-DE-SESION-ex {
  background-color: #ffffff;
  width: 100%;
  min-width: 390px;
  min-height: 844px;
  position: relative;
}

.INICIO-DE-SESION-ex .rectangle {
  position: absolute;
  top: 165px;
  left: 47px;
  width: 296px;
  height: 419px;
  background-color:#F6F7F9;
  border-radius: 25px;
}

.INICIO-DE-SESION-ex .div {
  position: absolute;
  top: 780px;
  left: 0;
  width: 390px;
  height: 64px;
  background-color: var(--gris-5);
}

.INICIO-DE-SESION-ex .text-wrapper {
  position: absolute;
  top: 794px;
  left: calc(50.00% - 129px);
  width: 258px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--grisoscuro-3);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25px;
}

.INICIO-DE-SESION-ex .cnp {
  position: absolute;
  top: 241px;
  left: 99px;
  width: 192px;
  height: 103px;
  aspect-ratio: 1.85;
  object-fit: cover;
}

.INICIO-DE-SESION-ex .INICIO-DE-SESI-n {
  position: absolute;
  top: 374px;
  left: 57px;
  height: 70px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #100ead;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 35px;
}

.INICIO-DE-SESION-ex .usuario-espere {
  position: absolute;
  top: 458px;
  left: 66px;
  width: 255px;
  height: 50px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25px;
}

/* registrarse*/

.REGISTRO-SIGEPAC {
  background-color: #ffffff;
  width: 100%;
  min-width: 390px;
  min-height: 1290px;
  position: relative;
}

.REGISTRO-SIGEPAC .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 390px;
  height: 75px;
  background-color: var(--gris-6);
  border: 1px solid;
  border-color: var(--gris-1);
}

.REGISTRO-SIGEPAC .logo {
  position: absolute;
  top: 23px;
  left: 147px;
  width: 59px;
  height: 32px;
  aspect-ratio: 1.85;
  object-fit: cover;
}

.REGISTRO-SIGEPAC .text-wrapper {
  position: absolute;
  top: 17px;
  left: 20px;
  width: 137px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #120cad;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25px;
}

.REGISTRO-SIGEPAC .crear-nueva-cuenta {
  position: absolute;
  top: 129px;
  left: 25px;
  height: 50px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--azul-1);
  font-size: 30px;
  letter-spacing: 0;
  line-height: 25px;
}

.REGISTRO-SIGEPAC .rellene-los-campos {
  position: absolute;
  top: 191px;
  left: 25px;
  height: 40px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
}

.REGISTRO-SIGEPAC .div {
  position: absolute;
  top: 259px;
  left: 25px;
  width: 340px;
  height: 840px;
  background-color: var(--gris-6);
  border-radius: 15px;
}

.REGISTRO-SIGEPAC .rectangle-2 {
  position: absolute;
  top: 295px;
  left: 35px;
  width: 321px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid;
  border-color: var(--azul-1);
}

.REGISTRO-SIGEPAC .rectangle-3 {
  position: absolute;
  top: 378px;
  left: 35px;
  width: 321px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid;
  border-color: var(--azul-1);
}

.REGISTRO-SIGEPAC .rectangle-4 {
  position: absolute;
  top: 550px;
  left: 35px;
  width: 321px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid;
  border-color: var(--azul-1);
}

.REGISTRO-SIGEPAC .rectangle-5 {
  position: absolute;
  top: 636px;
  left: 35px;
  width: 321px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid;
  border-color: var(--azul-1);
}

.REGISTRO-SIGEPAC .rectangle-6 {
  position: absolute;
  top: 722px;
  left: 35px;
  width: 321px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid;
  border-color: var(--azul-1);
}

.REGISTRO-SIGEPAC .rectangle-7 {
  position: absolute;
  top: 808px;
  left: 35px;
  width: 321px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid;
  border-color: var(--azul-1);
}

.REGISTRO-SIGEPAC .rectangle-8 {
  position: absolute;
  top: 464px;
  left: 35px;
  width: 321px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid;
  border-color: var(--azul-1);
}

.REGISTRO-SIGEPAC .text-wrapper-2 {
  position: absolute;
  top: 275px;
  left: 43px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.REGISTRO-SIGEPAC .text-wrapper-3 {
  position: absolute;
  top: 357px;
  left: 43px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.REGISTRO-SIGEPAC .text-wrapper-4 {
  position: absolute;
  top: 440px;
  left: 43px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.REGISTRO-SIGEPAC .text-wrapper-5 {
  position: absolute;
  top: 526px;
  left: 43px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.REGISTRO-SIGEPAC .text-wrapper-6 {
  position: absolute;
  top: 612px;
  left: 43px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.REGISTRO-SIGEPAC .text-wrapper-7 {
  position: absolute;
  top: 698px;
  left: 43px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.REGISTRO-SIGEPAC .text-wrapper-8 {
  position: absolute;
  top: 784px;
  left: 43px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.REGISTRO-SIGEPAC .ya-tienes-cuenta {
  position: absolute;
  top: 1052px;
  left: 86px;
  height: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.REGISTRO-SIGEPAC .span {
  color: #000000;
}

.REGISTRO-SIGEPAC .text-wrapper-9 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #3d76c1;
}

.REGISTRO-SIGEPAC .shield-check {
  position: absolute;
  top: 157px;
  left: 130px;
  width: 24px;
  height: 24px;
  display: flex;
  aspect-ratio: 1;
}

.REGISTRO-SIGEPAC .vector {
  flex: 1;
  width: 19.97px;
}

.REGISTRO-SIGEPAC .text-wrapper-10 {
  top: 737px;
  position: absolute;
  left: 53px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--grisoscuro-5);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.REGISTRO-SIGEPAC .text-wrapper-11 {
  top: 823px;
  position: absolute;
  left: 53px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--grisoscuro-5);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.REGISTRO-SIGEPAC .tabler-eye {
  position: absolute;
  top: 737px;
  left: 313px;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.REGISTRO-SIGEPAC .group {
  position: relative;
  width: 75.00%;
  height: 50.00%;
  top: 25.00%;
  left: 12.50%;
}

.REGISTRO-SIGEPAC .img {
  position: absolute;
  width: 66.67%;
  height: 75.00%;
  top: 25.00%;
  left: 33.33%;
}

.REGISTRO-SIGEPAC .vector-2 {
  position: absolute;
  width: 105.56%;
  height: 108.33%;
  top: -8.33%;
  left: -5.56%;
}

.REGISTRO-SIGEPAC .group-wrapper {
  position: absolute;
  top: 823px;
  left: 313px;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.REGISTRO-SIGEPAC .text-wrapper-12 {
  position: absolute;
  top: 393px;
  left: 53px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--grisoscuro-5);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.REGISTRO-SIGEPAC .text-wrapper-13 {
  top: 479px;
  left: 56px;
  position: absolute;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--grisoscuro-5);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.REGISTRO-SIGEPAC .text-wrapper-14 {
  position: absolute;
  top: 565px;
  left: 53px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--grisoscuro-5);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.REGISTRO-SIGEPAC .text-wrapper-15 {
  top: 651px;
  left: 53px;
  position: absolute;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--grisoscuro-5);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.REGISTRO-SIGEPAC .text-wrapper-16 {
  position: absolute;
  top: 310px;
  left: 53px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--grisoscuro-5);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.REGISTRO-SIGEPAC .acepto-los-t-rminos {
  position: absolute;
  top: 887px;
  left: 86px;
  height: 60px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
}

.REGISTRO-SIGEPAC .text-wrapper-17 {
  color: #3d76c1;
}

.REGISTRO-SIGEPAC .rectangle-9 {
  position: absolute;
  top: 1225px;
  left: 0;
  width: 390px;
  height: 64px;
  background-color: var(--gris-5);
}

.REGISTRO-SIGEPAC .element-SIGEPAC-SISTEMA {
  position: absolute;
  top: 1237px;
  left: calc(50.00% - 131px);
  height: 40px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--grisoscuro-3);
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.REGISTRO-SIGEPAC .text-wrapper-18 {
  position: absolute;
  top: 1150px;
  left: 54px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.REGISTRO-SIGEPAC .text-wrapper-19 {
  position: absolute;
  top: 1150px;
  left: 221px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.REGISTRO-SIGEPAC .tabler-shield {
  position: absolute;
  top: 1149px;
  left: 30px;
  width: 21px;
  height: 21px;
  display: flex;
  aspect-ratio: 1;
}

.REGISTRO-SIGEPAC .vector-3 {
  flex: 1;
  width: 17.73px;
}

.REGISTRO-SIGEPAC .tabler-cloud-lock {
  position: absolute;
  top: 1149px;
  left: 192px;
  width: 21px;
  height: 21px;
  aspect-ratio: 1;
}

.REGISTRO-SIGEPAC .group-2 {
  position: relative;
  width: 84.55%;
  height: 62.71%;
  top: 20.62%;
  left: 9.20%;
}

.REGISTRO-SIGEPAC .vector-4 {
  position: absolute;
  width: 105.64%;
  height: 107.59%;
  top: -7.59%;
  left: -5.64%;
}

.REGISTRO-SIGEPAC .vector-5 {
  position: absolute;
  width: 77.09%;
  height: 67.39%;
  top: 32.61%;
  left: 22.91%;
}

.REGISTRO-SIGEPAC .tabler-arrow-down {
  position: absolute;
  top: 650px;
  left: 308px;
  width: 24px;
  height: 24px;
  display: flex;
  transform: rotate(-44.83deg);
  aspect-ratio: 1;
}

.REGISTRO-SIGEPAC .vector-6 {
  flex: 1;
  width: 14.73px;
  transform: rotate(44.83deg);
}

.REGISTRO-SIGEPAC .vector-wrapper {
  position: absolute;
  top: 478px;
  left: 305px;
  width: 24px;
  height: 24px;
  display: flex;
  transform: rotate(-44.83deg);
  aspect-ratio: 1;
}

.REGISTRO-SIGEPAC .rectangle-10 {
  position: absolute;
  top: 975px;
  left: 80px;
  width: 223px;
  height: 58px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(74, 144, 226, 1) 0%,
    rgba(41, 79, 124, 1) 100%
  );
}

.REGISTRO-SIGEPAC .text-wrapper-20 {
  position: absolute;
  top: 992px;
  left: 121px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.REGISTRO-SIGEPAC .tabler-circle-arrow {
  position: absolute;
  top: 992px;
  left: 249px;
  width: 24px;
  height: 24px;
  display: flex;
  aspect-ratio: 1;
}

.REGISTRO-SIGEPAC .vector-7 {
  flex: 1;
  width: 20px;
}

.REGISTRO-SIGEPAC .arrow-filled {
  position: absolute;
  top: 28px;
  left: 17px;
  width: 12px;
  height: 24px;
  display: flex;
  aspect-ratio: 0.5;
}

.REGISTRO-SIGEPAC .vector-8 {
  flex: 1;
  width: 7.36px;
  transform: rotate(180deg);
}

.REGISTRO-SIGEPAC .rectangle-11 {
  position: absolute;
  top: 890px;
  left: 59px;
  width: 15px;
  height: 15px;
  background-color: #fffefe;
  border-radius: 2px;
  border: 1px solid;
  border-color: var(--gris-1);
}
