:root {
  --amarillo-1: rgba(251, 192, 45, 1);
  --amarillo-2: rgba(252, 202, 80, 1);
  --amarillo-3: rgba(252, 213, 115, 1);
  --amarillo-4: rgba(253, 224, 150, 1);
  --amarillo-5: rgba(254, 234, 185, 1);
  --amarillo-6: rgba(254, 245, 220, 1);
  --rojo-1: rgba(229, 57, 53, 1);
  --rojo-2: rgba(233, 90, 87, 1);
  --rojo-3: rgba(238, 123, 120, 1);
  --rojo-4: rgba(242, 156, 154, 1);
  --rojo-5: rgba(246, 189, 188, 1);
  --gris-1: rgba(203, 209, 217, 1);
  --gris-2: rgba(212, 217, 223, 1);
  --gris-3: rgba(220, 224, 230, 1);
  --gris-4: rgba(229, 232, 236, 1);
  --gris-5: rgba(238, 240, 242, 1);
  --gris-6: rgba(246, 247, 249, 1);
  --verdeclaro-1: rgba(102, 187, 106, 1);
  --verdeclaro-2: rgba(128, 198, 131, 1);
  --verdeclaro-3: rgba(153, 210, 156, 1);
  --verdeclaro-4: rgba(179, 221, 181, 1);
  --verdeclaro-5: rgba(204, 232, 205, 1);
  --verdeclaro-6: rgba(230, 244, 230, 1);
  --azul-1: rgba(74, 144, 226, 1);
  --azul-2: rgba(104, 162, 231, 1);
  --azul-3: rgba(134, 181, 236, 1);
  --azul-4: rgba(165, 200, 241, 1);
  --azul-5: rgba(195, 218, 245, 1);
  --azul-6: rgba(225, 237, 250, 1);
  --grisoscuro-1: rgba(44, 44, 44, 1);
  --grisoscuro-2: rgba(79, 79, 79, 1);
  --grisoscuro-3: rgba(114, 114, 114, 1);
  --grisoscuro-4: rgba(149, 149, 149, 1);
  --grisoscuro-5: rgba(185, 185, 185, 1);
  --grisoscuro-6: rgba(220, 220, 220, 1);
  --verdeoscuro-1: rgba(27, 94, 32, 1);
  --verdeoscuro-2: rgba(41, 144, 49, 1);
  --verdeoscuro-3: rgba(56, 195, 66, 1);
  --verdeoscuro-4: rgba(104, 212, 112, 1);
  --verdeoscuro-5: rgba(154, 226, 160, 1);
  --verdeoscuro-6: rgba(205, 241, 207, 1);
  --azuloscuro-1: rgba(30, 58, 95, 1);
  --azuloscuro-2: rgba(45, 88, 144, 1);
  --azuloscuro-3: rgba(61, 118, 193, 1);
  --azuloscuro-4: rgba(109, 152, 209, 1);
  --azuloscuro-5: rgba(157, 186, 224, 1);
  --azuloscuro-6: rgba(206, 221, 240, 1);
  --titulo-principal-escritorio-font-family: "Cabin", Helvetica;
  --titulo-principal-escritorio-font-weight: 400;
  --titulo-principal-escritorio-font-size: 48px;
  --titulo-principal-escritorio-letter-spacing: 0px;
  --titulo-principal-escritorio-line-height: normal;
  --titulo-principal-escritorio-font-style: normal;
  --titulo-principal-movil-font-family: "Candal", Helvetica;
  --titulo-principal-movil-font-weight: 400;
  --titulo-principal-movil-font-size: 40px;
  --titulo-principal-movil-letter-spacing: 0px;
  --titulo-principal-movil-line-height: normal;
  --titulo-principal-movil-font-style: normal;
  --sub-titulo-escritorio-font-family: "Expletus Sans", Helvetica;
  --sub-titulo-escritorio-font-weight: 700;
  --sub-titulo-escritorio-font-size: 16px;
  --sub-titulo-escritorio-letter-spacing: 0px;
  --sub-titulo-escritorio-line-height: normal;
  --sub-titulo-escritorio-font-style: italic;
  --parrafo-escritorio-font-family: "Albert Sans", Helvetica;
  --parrafo-escritorio-font-weight: 600;
  --parrafo-escritorio-font-size: 14px;
  --parrafo-escritorio-letter-spacing: 0px;
  --parrafo-escritorio-line-height: normal;
  --parrafo-escritorio-font-style: normal;
  --parrafo-movil-font-family: "Albert Sans", Helvetica;
  --parrafo-movil-font-weight: 600;
  --parrafo-movil-font-size: 14px;
  --parrafo-movil-letter-spacing: 0px;
  --parrafo-movil-line-height: normal;
  --parrafo-movil-font-style: normal;
  --hanken-grotesk-regular-font-family: "Hanken Grotesk", Helvetica;
  --hanken-grotesk-regular-font-weight: 400;
  --hanken-grotesk-regular-font-size: 14px;
  --hanken-grotesk-regular-letter-spacing: 0px;
  --hanken-grotesk-regular-line-height: 20px;
  --hanken-grotesk-regular-font-style: normal;
  --hanken-grotesk-semibold-font-family: "Hanken Grotesk", Helvetica;
  --hanken-grotesk-semibold-font-weight: 600;
  --hanken-grotesk-semibold-font-size: 24px;
  --hanken-grotesk-semibold-letter-spacing: 0px;
  --hanken-grotesk-semibold-line-height: 24px;
  --hanken-grotesk-semibold-font-style: normal;
  --hanken-grotesk-bold-font-family: "Hanken Grotesk", Helvetica;
  --hanken-grotesk-bold-font-weight: 700;
  --hanken-grotesk-bold-font-size: 56px;
  --hanken-grotesk-bold-letter-spacing: -1.399999976158142px;
  --hanken-grotesk-bold-line-height: 56px;
  --hanken-grotesk-bold-font-style: normal;
  --hanken-grotesk-medium-font-family: "Hanken Grotesk", Helvetica;
  --hanken-grotesk-medium-font-weight: 500;
  --hanken-grotesk-medium-font-size: 18px;
  --hanken-grotesk-medium-letter-spacing: 0px;
  --hanken-grotesk-medium-line-height: 28px;
  --hanken-grotesk-medium-font-style: normal;
  --hanken-grotesk-bold-underline-font-family: "Hanken Grotesk", Helvetica;
  --hanken-grotesk-bold-underline-font-weight: 700;
  --hanken-grotesk-bold-underline-font-size: 16px;
  --hanken-grotesk-bold-underline-letter-spacing: 0px;
  --hanken-grotesk-bold-underline-line-height: 24px;
  --hanken-grotesk-bold-underline-font-style: normal;
  --hanken-grotesk-bold-upper-font-family: "Hanken Grotesk", Helvetica;
  --hanken-grotesk-bold-upper-font-weight: 700;
  --hanken-grotesk-bold-upper-font-size: 11px;
  --hanken-grotesk-bold-upper-letter-spacing: 0px;
  --hanken-grotesk-bold-upper-line-height: 16.5px;
  --hanken-grotesk-bold-upper-font-style: normal;
  --hanken-grotesk-italic-font-family: "Hanken Grotesk", Helvetica;
  --hanken-grotesk-italic-font-weight: 400;
  --hanken-grotesk-italic-font-size: 14px;
  --hanken-grotesk-italic-letter-spacing: 0px;
  --hanken-grotesk-italic-line-height: 21px;
  --hanken-grotesk-italic-font-style: italic;
  --hanken-grotesk-black-font-family: "Hanken Grotesk", Helvetica;
  --hanken-grotesk-black-font-weight: 900;
  --hanken-grotesk-black-font-size: 22px;
  --hanken-grotesk-black-letter-spacing: 0px;
  --hanken-grotesk-black-line-height: 22px;
  --hanken-grotesk-black-font-style: normal;
  --inter-semi-bold-font-family: "Inter", Helvetica;
  --inter-semi-bold-font-weight: 600;
  --inter-semi-bold-font-size: 12px;
  --inter-semi-bold-letter-spacing: 0px;
  --inter-semi-bold-line-height: 16px;
  --inter-semi-bold-font-style: normal;
  --inter-medium-font-family: "Inter", Helvetica;
  --inter-medium-font-weight: 500;
  --inter-medium-font-size: 13px;
  --inter-medium-letter-spacing: 0px;
  --inter-medium-line-height: 19.5px;
  --inter-medium-font-style: normal;
  --inter-medium-upper-font-family: "Inter", Helvetica;
  --inter-medium-upper-font-weight: 500;
  --inter-medium-upper-font-size: 12px;
  --inter-medium-upper-letter-spacing: 0px;
  --inter-medium-upper-line-height: 16px;
  --inter-medium-upper-font-style: normal;
  --inter-semi-bold-underline-font-family: "Inter", Helvetica;
  --inter-semi-bold-underline-font-weight: 600;
  --inter-semi-bold-underline-font-size: 14px;
  --inter-semi-bold-underline-letter-spacing: 0.14000000059604645px;
  --inter-semi-bold-underline-line-height: 20px;
  --inter-semi-bold-underline-font-style: normal;
  --inter-bold-font-family: "Inter", Helvetica;
  --inter-bold-font-weight: 700;
  --inter-bold-font-size: 15px;
  --inter-bold-letter-spacing: 0px;
  --inter-bold-line-height: 22.5px;
  --inter-bold-font-style: normal;
  --inter-semi-bold-upper-font-family: "Inter", Helvetica;
  --inter-semi-bold-upper-font-weight: 600;
  --inter-semi-bold-upper-font-size: 14px;
  --inter-semi-bold-upper-letter-spacing: 0.3499999940395355px;
  --inter-semi-bold-upper-line-height: 20px;
  --inter-semi-bold-upper-font-style: normal;
  --inter-medium-underline-font-family: "Inter", Helvetica;
  --inter-medium-underline-font-weight: 500;
  --inter-medium-underline-font-size: 12px;
  --inter-medium-underline-letter-spacing: 0px;
  --inter-medium-underline-line-height: 16px;
  --inter-medium-underline-font-style: normal;
  --inter-regular-font-family: "Inter", Helvetica;
  --inter-regular-font-weight: 400;
  --inter-regular-font-size: 15px;
  --inter-regular-letter-spacing: 0px;
  --inter-regular-line-height: 22.5px;
  --inter-regular-font-style: normal;
  --inter-bold-upper-font-family: "Inter", Helvetica;
  --inter-bold-upper-font-weight: 700;
  --inter-bold-upper-font-size: 14px;
  --inter-bold-upper-letter-spacing: 0.699999988079071px;
  --inter-bold-upper-line-height: 21px;
  --inter-bold-upper-font-style: normal;
  --semantic-data-font-family: "Hanken Grotesk", Helvetica;
  --semantic-data-font-weight: 500;
  --semantic-data-font-size: 14px;
  --semantic-data-letter-spacing: 0px;
  --semantic-data-line-height: 21px;
  --semantic-data-font-style: normal;
  --semantic-heading-1-font-family: "Hanken Grotesk", Helvetica;
  --semantic-heading-1-font-weight: 700;
  --semantic-heading-1-font-size: 48px;
  --semantic-heading-1-letter-spacing: -0.9599999785423279px;
  --semantic-heading-1-line-height: 56px;
  --semantic-heading-1-font-style: normal;
  --semantic-heading-2-font-family: "Hanken Grotesk", Helvetica;
  --semantic-heading-2-font-weight: 700;
  --semantic-heading-2-font-size: 32px;
  --semantic-heading-2-letter-spacing: 0px;
  --semantic-heading-2-line-height: 40px;
  --semantic-heading-2-font-style: normal;
  --semantic-heading-3-font-family: "Hanken Grotesk", Helvetica;
  --semantic-heading-3-font-weight: 700;
  --semantic-heading-3-font-size: 20px;
  --semantic-heading-3-letter-spacing: 0px;
  --semantic-heading-3-line-height: 30px;
  --semantic-heading-3-font-style: normal;
  --semantic-input-font-family: "Hanken Grotesk", Helvetica;
  --semantic-input-font-weight: 400;
  --semantic-input-font-size: 16px;
  --semantic-input-letter-spacing: 0px;
  --semantic-input-line-height: normal;
  --semantic-input-font-style: normal;
  --semantic-link-font-family: "Hanken Grotesk", Helvetica;
  --semantic-link-font-weight: 700;
  --semantic-link-font-size: 24px;
  --semantic-link-letter-spacing: 0px;
  --semantic-link-line-height: 32px;
  --semantic-link-font-style: normal;
}
